<div class="transcricao">
  <p *ngIf="textoExpandido" [innerHTML]="textoExibido" style="text-align: justify"></p>
</div>
<!-- Botões de alternância -->
<div class="botao-container">
  <button *ngIf="!textoExpandido" (click)="alternarTextoExpandido()">Ler a Seção<img src="/assets/icons/book.svg" class="image-book" alt="Ícone de Ver Mais"></button>
  <button *ngIf="textoExpandido" (click)="alternarTextoExpandido()" class="button-close">Fechar<img src="/assets/icons/close-text.svg" class="image-close" alt="Ícone de Recolher"></button>
</div>
