

.transcricao {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.transcricao p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
  z-index: 1;
  pointer-events: none;
}

.botao-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 1rem;
}
