<section class="introducao">
  <div class="introducao-topo">
    <img src="/assets/Machado_de_Assis.jpg" alt="Imagem de Machado de Assis">
    <div class="introducao-topo-texto">
      <h3>Machado de Assis</h3>
      <p>
        Machado de Assis (1839-1908) foi um escritor brasileiro, um dos nomes mais importantes da literatura brasileira do
        século XIX.
        Destacou-se principalmente no romance e no conto, embora tenha escrito crônicas, poesias, crítica literária e peças
        de teatro. Machado
        de Assis escreveu nove romances. Os primeiros – Ressurreição, A Mão e a Luva, Helena e Iaiá Garcia, apresentam
        alguns traços românticos
        na caracterização dos personagens.

        A partir de Memórias Póstumas de Brás Cubas, teve início sua fase propriamente realista quando revelou seu incrível
        talento na análise
        do comportamento humano, descobrindo por trás dos atos bons e honestos, a vaidade, o egoísmo e a hipocrisia.
      </p>
    </div>
  </div>
  <h4>Infância e adolescência</h4>
  <p>
    Joaquim Maria Machado de Assis nasceu na Chácara do Livramento no Rio de Janeiro, no dia 21 de junho de 1839. Foi o
    primeiro filho
    do mulato Francisco José de Assis, um pintor e decorador de paredes, e da imigrante portuguesa Maria Leopoldina.
    Machado de Assis passou sua infância e adolescência no bairro do Livramento. Seus pais viviam na chácara do falecido
    senador Bento
    Barroso Pereira, e sua mãe era a protegida da dona da casa, D. Maria José Pereira.
    Machado fez seus primeiros estudos na escola pública do bairro de São Cristóvão. Tornou-se amigo do padre Silveira
    Sarmento, o
    ajudava nas missas e familiarizava-se com o latim. Quando tinha dez anos perdeu sua mãe. Seu pai resolveu sair da
    chácara e foi
    morar em São Cristóvão com Maria Inês da Silva, só vindo a casar-se em 1854.
    Sua madrasta trabalhava como doceira em uma escola e levava o enteado para assistir algumas aulas. À noite, Machado
    ia para uma
    padaria, local onde aprendia francês com o forneiro. À luz de velas, Machado lia tudo que passava em suas mãos e já
    escrevia suas
    primeiras poesias.
  </p>
  <h4>
    Carreira literária
  </h4>
  <p>
    Em busca de um emprego, com 15 anos, Machado conheceu Francisco de Paula Brito, dono da livraria, do jornal e da
    tipografia da
    cidade. No dia 12 de fevereiro de 1855, a “Marmota Fluminense”, jornal editado por Paula Brito, trazia na página 3,
    o poema
    “Ela”, de Machado de Assis:
  </p>
  <blockquote>
    "Dos lábios de Querubim
    Eu quisera ouvir um sim
    Para alívio do coração" (...)
  </blockquote>
  <p>
    Daí por diante, Machado não parou de escrever na "Marmota" e de fazer amizades com os políticos e literatos
    frequentadores da
    livraria, onde o assunto principal era a poesia.
    Em 1856, Machadinho, como era conhecido, entrou para a Imprensa Oficial como aprendiz de tipógrafo, mas além de mau
    funcionário,
    escondia-se para ler tudo que lhe interessava.
    O diretor decidiu incentivar o jovem e o apresentou a três importantes jornalistas: Francisco Otaviano, Pedro Luís e
    Quintino
    Bocaiuva.
    Otaviano e Pedro dirigiam o "Correio-Mercantil" e para lá foi Machado de Assis, em 1858, como revisor de provas.
    Colaborava
    também para outros jornais. Estreou como crítico teatral na revista “Espelho”.
    Com 20 anos, Machado de Assis já frequentava os círculos literários e jornalísticos do Rio de Janeiro, capital
    política e
    artística do Império.
  </p>
  <h4>Machado de Assis com 20 anos</h4>
  <p>
    Em 1860, Machado de Assis foi chamado por Quintino Bocaiuva para trabalhar na redação do “Diário do Rio de Janeiro”.
    Além de
    escrever sobre todos os assuntos e manter uma coluna de crítica literária, Machado tornou-se representante do jornal
    no Senado.
    Machado também escrevia no “Jornal das Famílias”, quando suas histórias inconsequentes e açucaradas eram lidas nos
    serões familiares.
  </p>
  <h4>Primeiro livro de poesias</h4>
  <p>
    Em 1864, Machado de Assis publicou seu primeiro livro de poesias, Crisálidas, uma coletânea de seus poemas. O livro
    foi dedicado a
    seus pais, Maria Leopoldina e Francisco.
    Em 1867, o Imperador Dom Pedro II concedeu a Machado o grau de "Cavaleiro da Ordem da Rosa", por serviços prestados
    às letras
    nacionais. No dia 8 de abril, Machado foi nomeado ajudante do diretor do Diário Oficial, iniciando sua "carreira
    burocrática".
    Em 1868 ele conheceu Carolina Xavier de Novais, uma portuguesa culta, irmã do poeta português Faustino Xavier de
    Novais, que lhe
    revelou os clássicos lusitanos.
    No dia 12 de novembro de 1869 o casamento de Machado e Carolina foi realizado, tendo como testemunhas, Artur
    Napoleão e o Conde de
    São Mamede, em cuja residência se realizou a cerimônia. O casal não teve filhos.
    Em 1873, ele foi nomeado primeiro oficial da Secretaria do Estado do Ministério da Agricultura. Três anos depois
    assumiu a chefia
    da seção.
  </p>
  <h4>Academia Brasileira de Letras</h4>
  <p>
    O primeiro livro de contos de Machado de Assis, Contos Fluminenses (1870) e seu primeiro romance, Ressurreição
    (1872), sedimentaram
    a imagem de um escritor que usava muito bem a língua portuguesa e que preferia os relatos psicológicos às narrativas
    de ação constante.
    No dia 30 de janeiro de 1873, a capa do décimo número do “Arquivo Contemporâneo”, periódico do Rio de Janeiro,
    colocou lado a lado
    as fotos de José de Alencar, até então o maior romancista do Brasil, e a de Machado de Assis.
    Machado de Assis se impôs, antes mesmo de ter publicado suas obras-primas, como a maior expressão da literatura
    brasileira e, sem
    muita dificuldade, em 1896, fundou com outros intelectuais, a Academia Brasileira de Letras.
    Nomeado para a cadeira n.º 23, tornou-se, em 1897 seu primeiro presidente, cargo que ocupou até sua morte.
    Na entrada do prédio há uma estátua de bronze do escritor. Em sua homenagem, a academia chama-se também “Casa de
    Machado de Assis”.
  </p>
  <h4>Obra de Machado de Assis</h4>
  <p>
    Machado de Assis teve uma carreira literária ininterrupta, produziu de 1855 a 1908. Escreveu poesias, romances,
    contos, crônicas,
    críticas e peças de teatro. O ponto alto de sua produção literária é o romance e o conto, quando se observa duas
    fases:
  </p>
  <h4>Fase Romântica – obras e características</h4>
  <p>
    A primeira fase das obras de Machado de Assis apresenta-se presa a algum aspecto do “Romantismo”, com uma história
    cheia de
    mistérios, com final feliz ou trágico e uma narrativa linear.
    Apresenta também traços inovadores, como uma linguagem menos descritiva, menos adjetivada e sem o exagero
    sentimental. As
    personagens têm um comportamento não só movido pelo amor, mas também pela ambição e pelo interesse. São dessa fase
    os romances:
  </p>
  <ul>
    <li>Ressurreição (1872)</li>
    <li>A Mão e a Luva (1874)</li>
    <li>Helena (1876)</li>
    <li>Iaiá Garcia (1878)</li>
  </ul>
  <h4>O Realismo – obras e características</h4>
  <p>
    A segunda fase das obras de Machado de Assis inicia-se com Memórias Póstumas de Brás Cubas (1881), no qual retrata a
    miséria
    humana, indo até seu último romance, “Memorial de Aires” (1908) - o livro da saudade, escrito após a morte de
    Carolina.
    É nesse período que se encontram suas mais ricas criações literárias. Diferente de tudo quanto havia sido escrito no
    Brasil,
    Machado inaugura o “Realismo”.
    O estilo realista de Machado de Assis difere de seus contemporâneos, porque ele aprofunda-se na análise psicológica
    dos
    personagens desvendando a fragilidade existencial na relação consigo mesmo e com os outros personagens. São dessa
    fase os
    romances:
  </p>
  <ul>
    <li>Memórias Póstumas de Brás Cubas (1881)</li>
    <li>Quincas Borba (1891)</li>
    <li>Dom Casmurro (1899)</li>
    <li>Esaú e Jacó (1904)</li>
    <li>Memorial de Aires (1908, seu último romance)</li>
  </ul>
  <h4>Memórias Póstumas de Brás Cubas</h4>
  <p>
    Em 1881, Machado de Assis publicou o romance “Memórias Póstumas de Brás Cubas”, que marcou o início da fase
    acentuadamente
    realista de sua obra. A obra havia sido publicada no ano anterior, em folhetins, na Revista Brasileira.
    Em "Memórias Póstumas de Brás Cubas", o narrador é um defunto que resolveu distrair-se um pouco saindo da monotonia
    da
    eternidade escrevendo suas memórias, livre das convenções sociais, pois está morto.
    O narrador fala não só da vida, mas de todos os que com ele conviveram, revelando a hipocrisia das relações humanas.
    Esse romance foi adaptado para o cinema em 2001, sendo considerado o melhor filme do festival de Gramado.
  </p>
  <h4>Quincas Borba</h4>
  <p>
    O romance Quincas Borba representa um dos pontos altos da obra de Machado de Assis. É rico de vida e substância
    humana.
    O herói da história é o modesto professor "Rubião", que recebe em Barbacena uma grande herança do falecido Quincas
    Borba, com a
    condição de cuidar de seu cachorro, também chamado Quincas Borba.
    Rubião abandona a província e muda-se para o Rio de Janeiro, onde é enganado e explorado, vindo a enlouquecer e
    morrer miserável
    e solitário em Barbacena, sua cidade natal.
  </p>
  <h4>Dom Casmurro</h4>
  <p>
    É considerado o ponto culminante de sua ficção. O tema da obra é o adultério relatado pelo próprio marido traído. O
    romance
    é narrado na 1.ª pessoa do singular, começando com a amizade infantil entre Bentinho e Capitu.
    Da afeição nasce o amor e o casamento. Capitu, como quase todos os tipos machadianos, é cheia de vivacidade e
    astúcia, porém
    dissimulada. Trai o esposo com Escobar, o mais antigo e íntimo amigo do casal.
    Mais tarde, nasce Ezequiel e as dúvidas de Betinho se dissipam. Torna-se um indivíduo sisudo e "casmurro", que vive
    a
    rememorar o passado. Quando Escobar morre, Capitu chora diante do cadáver, confirmando as suspeitas de Bentinho.
  </p>
  <h4>As personagens femininas de Machado de Assis</h4>
  <p>
    As grandes “personagens femininas” das obras de Machado de Assis ou são adúlteras ou estão a ponto de ser, como
    "Virgília" de
    Memórias Póstumas, que repele Brás Cubas quando podia casar-se com ele, mas torna-se sua amante depois que está
    casada com outro
    homem mais importante na escala social.
    A personagem "Sofia", protagonista de Quincas Borba, fica no limiar do adultério, tentando o pobre Rubião até
    levá-lo à loucura,
    para tirar dele seu último centavo e assim enriquecer seu esposo.
    "Capitu", sua heroína mais famosa, personagem de Dom Casmurro, é o protótipo de mulher dissimulada, que engana
    vilmente o marido.
    Apenas Fidélia, de Memorial de Aires, é a mulher honesta e fiel, como seu próprio nome sugere.
  </p>
  <h4>Contos de Machado de Assis</h4>
  <ul>
    <li>Contos Fluminenses (1870)</li>
    <li>História da Meia Noite</li>
    <li>Papéis Avulsos (1882)</li>
    <li>Histórias Sem Data (1884)</li>
    <li>Várias Histórias (1896)</li>
    <li>Páginas Recolhidas (1899)</li>
    <li>Relíquias da Casa Velha (1906)</li>
  </ul>
  <p>
    Alguns dos melhores contos “realistas” contidos nesses livros e que abordam os mais diversos temas, são:
  </p>
  <ul>
    <li>Cantigas de Esponsais – a desesperada busca da expressão</li>
    <li>Trio em Lá Menor – o anseio da perfeição</li>
    <li>Noites de Almirantes – análise de uma desilusão amorosa</li>
    <li>O Alienista - o problema da loucura. Foi adaptado para o cinema em 1970.</li>
    <li>Missa do Galo – o despertar do adolescente para o amor</li>
    <li>Teoria do Medalhão – como vencer na vida sem fazer força</li>
    <li>O Espelho – a dualidade da alma humana</li>
  </ul>
  <h4>Últimos anos e morte</h4>
  <p>
    Em outubro de 1904 morreu sua esposa, Carolina, companheira de 35 anos, que além de revisora de suas obras era
    também sua
    enfermeira pois Machado de Assis tinha a saúde abalada pela epilepsia.
    Após a morte da esposa, o romancista raramente saía de casa. Em homenagem à sua amada, escreveu o poema "À
    Carolina":
  </p>
  <blockquote>
    "Querida, ao pé do leito derradeiro
    Em que descansas dessa longa vida,
    Aqui venho e virei, pobre querida,
    Trazer-te o coração do companheiro.

    Pulsa-lhe aquele afeto verdadeiro
    Que, a despeito de toda a humana lida,
    Fez a nossa existência apetecida
    E num recanto pôs o mundo inteiro.

    Trago-te flores, - restos arrancados
    Da terra que nos viu passar unidos
    E ora mortos nos deixa separados.

    Que eu, se tenho nos olhos malferidos
    Pensamentos de vida formulados,
    São pensamentos idos e vividos."
  </blockquote>
  <p>
    Machado de Assis faleceu no Rio de Janeiro, no dia 29 de setembro de 1908. Em seu velório, compareceram as maiores
    personalidades
    do país. Rui Barbosa, um dos juristas mais aplaudidos da época, fez um discurso de despedida com elogios ao homem e
    escritor.
    Levado em uma carreta do Arsenal de Guerra, só destinada às grandes personalidades, um grande cortejo fúnebre saiu
    da Academia
    para o cemitério de São João Batista, onde foi enterrado.
  </p>
  <span>Fonte: <a href="https://www.ebiografia.com/machado_assis/">e-biografia</a></span>
</section>
<app-back-to-top></app-back-to-top>
