.introducao {
  font-family: "Lora", serif;
  line-height: 1.4rem;
  margin: 1.5rem auto;
  flex-direction: column;
  color: #2c3e50;
  padding: 2rem;
  width: 60%;
  text-align: justify;
}

.introducao h4 {
  font-family: "Faculty Glyphic", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 3rem 0 1rem 0;
  font-size: 1.2rem;
}

.introducao p::first-letter {
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

.introducao-topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
}

.introducao-topo-texto {
  margin-left: 2rem;
}

.introducao img {
  width: 18rem;
  height: 22rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

section::-webkit-scrollbar {
  width: 10px;
}

section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

section::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1rem;
}


p:last-child{
  margin-bottom: 3rem;
}

.introducao span {
  margin-left: 3rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao span a {
  padding-left: 0.3rem;
  color: #8e3b46;
}

.introducao ul {
  margin-left: 2rem;
}

blockquote {
  font-style: italic;
  margin: 1.5rem 0 1.5rem 6rem;
}

.introducao-topo-texto h3 {
  font-family: "Faculty Glyphic", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1023px) {
  .introducao {
    padding: 0.4rem 0;
  }

  .introducao-topo {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .introducao img {
    width: 12rem;
    height: 16.5rem;
  }

  .introducao-topo-texto {
    margin-left: 0;
  }

  .introducao-topo-texto h3 {
    font-size: 1.6rem;
  }

  @media (max-width: 767px) {

    blockquote {
      margin-left: 2.5rem;
    }

    .introducao span {
      margin-left: 1rem;
    }

  }
}

@media (max-width: 479px) {
  .introducao {
    width: 80%;
    padding: 1.2rem 0;
  }

  .introducao-topo {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .introducao img {
    width: 10rem;
    height: 14rem;
  }

  .introducao-topo-texto {
    margin-left: 0;
  }

  .introducao-topo-texto h3 {
    font-size: 1.4rem;
  }

  .introducao span {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .introducao h4 {
    font-size: 1rem;
  }

  .introducao p {
    font-size: 0.9rem;
  }

  .introducao span a {
    padding-left: 0.2rem;
  }

  blockquote {
    margin-left: 1.5rem;
  }

  p:last-child{
    margin-bottom: 1.5rem;
  }
}

