<footer role="contentinfo">
  <a href="https://portifolio-rnn.vercel.app/" target="_blank" aria-label="Visite o Portifólio de Renan Fochetto. Este link abrirá em uma nova aba." alt="Link para o Portifólio de Renan Fochetto">
    <img class="logo-autor" src="/assets/logo_cor.png" alt="Logo RNN - Renan Fochetto">
  </a>
  <a href="https://github.com/renanfochetto" target="_blank" aria-label="Visite o GitHub de Renan Fochetto. Este link abrirá uma nova aba." alt="Link para o Github de Renan Fochetto">
    <img class="logo-github" src="/assets/icons/github.svg" alt="Logo do Github">
  </a>
</footer>
