  <header class="cabecalho">
    <div class="container-logo">
      <a href="/">
        <h1>Dom Casmurro</h1>
      </a>
    </div>
    <div class="container-botoes">
      <div class="icone-home">
        <a href="/">
          <img src="/assets/icons/home.svg" alt="Ícone de uma Casa">
        </a>
      </div>
      <div class="icone-menu" (click)="alternarMenu()">
        <img class="icone-menu-acao" *ngIf="!menuAberto" src="/assets/icons/menu.svg" alt="Ícone Menu de Opções">
        <img class="icone-menu-acao" *ngIf="menuAberto" src="/assets/icons/close-menu.svg" alt="Ícone de Fechar">
      </div>
    <app-menu [menuAberto]="menuAberto" (fecharMenu)="menuAberto = false"></app-menu>
    </div>
  </header>
