.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  color: var(--secondary-color);
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.container-logo h1 {
  font-family: "Faculty Glyphic", sans-serif;
  margin: 0 0 0 3rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.container-logo-link {
  text-decoration: none;
}

.container-logo h1:hover{
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.container-logo h1:active {
  transform: scale(1.1);
}

.container-botoes {
  margin: 0 0 0 3rem;
  display: flex;
  gap: 5rem;
  align-items: center;
}

.icone-home img {
  border: none;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  transition: filter 0.3s ease;
}

.icone-home {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icone-home:hover {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}

.icone-home:active {
  transform: scale(1.1);
}

.icone-menu {
  position: absolute;
  top: 1.25rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  z-index: 2;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  transition: filter 0.3s ease, transform 0.3s ease;
}

.icone-menu:hover {
  filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.4));
}

.icone-menu-acao {
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icone-menu-acao:active {
  transform: scale(1.1);
}

.menu-aberto .icone-menu-acao {
  transform: rotate(90deg);
}

.icone-menu .linha {
  background-color: white;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  transition: all 0.3s ease;
}

@media (max-width: 1023px) {
  .cabecalho {
    padding: 0.8rem;
  }

  .container-logo h1 {
    font-size: 1rem;
  }

  .icone-home img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .icone-menu {
    top: 1rem;
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (max-width: 479px) {
  .icone-menu {
    flex-direction: row;
  }
}


