<app-menu-lateral (capituloSelecionado)="selectChapter($event)" aria-label="Menu de capítulos"></app-menu-lateral>
<section>
  <h1>Dom Casmurro Audiobook</h1>
  <h2>{{ audioData.titulo }}</h2>
  <h3>{{ audioData.subtitulo }}</h3>
  <h4 aria-live="polite">Leitor:<span> {{ audioData.leitor }} </span></h4>

  <app-audioplayer
    [audioSrc]="audioData.src"
    [audioIndex]="currentAudioIndex"
    (capituloMudou)="onCapituloMudou($event)"
    (audioTerminou)="audioTerminou()"
    aria-live="polite"
  >
  </app-audioplayer>
</section>
<app-back-to-top aria-label="Voltar ao topo"></app-back-to-top>
