.pagina-principal {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.pagina-principal-imagem {
  width: 18rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.pagina-principal h2 {
  margin: 1.2rem 0;
  font-size: 2rem;
  font-family: "Faculty Glyphic", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}
.pagina-principal p {
  margin: 0 0 0.5rem 0;
  font-family: "Lora", serif;
  font-weight: 500;
  color: var(--secondary-color);
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0 0 0;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  font-size: 0.9rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--primary-color);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.9);
}

.headphones-icon {
  width: 1rem;
}

@media (max-width: 1023px) {

  .pagina-principal-imagem {
    width: 12rem;
  }
  .pagina-principal h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .pagina-principal p {
    font-size: 0.8rem;
  }
  button {
    margin: 1.2rem 0 0 0;
    font-size: 0.7rem;
    padding: 0.5rem 0.6rem;
  }

  .headphones-icon {
    width: 0.8rem;
  }

}

@media (max-width: 767px) {
  .pagina-principal {
    margin: 0 auto;
    width: 70%;
    align-items: center;
  }
  .pagina-principal-imagem {
    width: 15rem;
  }

  .pagina-principal p {
    font-size: 0.795rem;
  }
  button {
    font-size: 0.6rem;
    padding: 0.4rem 0.5rem;
    margin-bottom: 5rem;
  }
  .headphones-icon {
    width: 0.6rem;
  }
}

@media (max-width: 479px) {

  .pagina-principal-imagem {
    width: 12rem;
  }

  .pagina-principal h2 {
    font-size: 1.2rem;
  }

  .pagina-principal p {
    text-align: justify;
    font-size: 0.7rem;
  }
}
