.introducao {
  font-family: "Lora", serif;
  line-height: 1.4rem;
  margin: 1.5rem auto;
  flex-direction: column;
  color: #2c3e50;
  padding: 2rem;
  width: 60%;
  text-align: justify;
}

blockquote {
  font-style: italic;
  margin: 1.5rem 0 1.5rem 6rem;
}

.introducao h3 {
  font-family: "Faculty Glyphic", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao h4 {
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1.2rem;
  margin: 3rem 0 1rem 0;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao h6 {
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1rem;
  margin: 2.5rem 0 0 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao p::first-letter {
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

.introducao span {
  margin: 2rem 1rem 0 3rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao span a {
  padding-left: 0.3rem;
  font-size: 1rem;
  color: #8e3b46;
}

@media (max-width: 1023px) {
  .introducao {
    padding: 1rem 0;
  }

  .introducao h4 {
    margin: 2.5rem 0 0.6rem 0;
  }

  .introducao h6 {
    margin: 2rem 0 0 0;
  }
}

@media (max-width: 767px) {

  .introducao span {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .introducao span a {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }

}

@media (max-width: 479px) {
  .introducao {
    width: 80%;
    padding: 1rem;
  }

  .introducao h3 {
    font-size: 1.6rem;
  }

  .introducao h4 {
    font-size: 1rem;
    margin: 2rem 0 0.6rem 0;
  }

  .introducao h6 {
    font-size: 0.9rem;
    margin: 1.5rem 0 0 0;
  }

  .introducao span {
    font-size: 0.9rem;
    margin-left: 1rem;
  }

  .introducao span a {
    font-size: 0.8rem;
    margin-left: 0.2rem;
  }

  blockquote {
    margin-left: 2.5rem;
  }
}
