<section class="introducao">
  <h3>Dom Casmurro</h3>
  <p>
    Dom Casmurro é um romance escrito por Machado de Assis, publicado em 1899 pela Livraria Garnier. Escrito para
    publicação em
    livro, o que ocorreu em 1900 – embora com data do ano anterior, ao contrário de Memórias Póstumas de Brás Cubas
    (1881) e
    Quincas Borba (1891), escritos antes em folhetins –, é considerado pela crítica o terceiro romance da "Trilogia
    Realista" de
    Machado de Assis, ao lado desses outros dois, embora o próprio autor não tenha formulado esta categoria.
    Seu protagonista é Bento Santiago, o narrador da história que, contada em primeira pessoa, pretende "atar as duas
    pontas da
    vida", ou seja, unir relatos desde sua mocidade até os dias em que está escrevendo o livro. Entre esses dois
    momentos, Bento
    escreve sobre suas reminiscências da juventude, sua vida no seminário, seu caso com Capitu e o ciúme que advém desse
    relacionamento, que se torna o enredo central da trama. Ambientado no Rio de Janeiro do Segundo Império, se inicia
    com
    um episódio que seria recente, no qual o narrador recebe a alcunha de "Dom Casmurro", daí o título do romance.
    Machado de
    Assis o escreveu utilizando ferramentas literárias como a ironia e a intertextualidade, fazendo referências a
    Schopenhauer
    e, sobretudo, à peça Otelo, o Mouro de Veneza de Shakespeare.
    Ao longo dos anos, Dom Casmurro, com seus temas do ciúme, a ambiguidade de Capitu, o retrato moral da época e o
    caráter do
    narrador, recebeu inúmeros estudos, adaptações para outras mídias e interpretações no mundo inteiro: desde
    psicológicas e
    psicanalíticas na crítica literária dos anos 30 e dos anos 40, passando pela crítica literária feminista na década
    de 1970,
    até sociológicas da década de 1980, e adiante. Creditado como um precursor do Modernismo[3] e de ideias
    posteriormente escritas
    pelo criador da psicanálise Sigmund Freud, o livro influenciou os escritores John Barth, Graciliano Ramos e Dalton
    Trevisan
    e é considerado por alguns, disputando com Memórias Póstumas de Brás Cubas, como a obra-prima de Machado.[5] Dom
    Casmurro
    foi traduzido para diversas línguas, continua a ser um de seus livros mais famosos e é considerado uma das obras
    mais fundamentais
    de toda a literatura brasileira.
  </p>
  <h4>Enredo</h4>
  <p>
    Narrado com foco narrativo em primeira pessoa, seu personagem principal é o carioca de 54 anos Bento de Albuquerque
    Santiago,
    advogado solitário e bem-estabelecido que, após ter reproduzido tal qual, no Engenho Novo, a casa em que foi criado
    "na antiga
    Rua de Matacavalos" (hoje a Rua do Riachuelo), pretende "atar as duas pontas da vida e resgatar na velhice a
    adolescência", ou
    seja, contar na meia idade seus momentos de moço. No primeiro capítulo, o autor justifica o título: é uma homenagem
    a um "poeta
    do trem" que certa vez o importunou com seus versos e que lhe chamou de "Dom Casmurro" por ter, segundo Bento,
    "fechado os
    olhos três ou quatro vezes" durante a recitação. Seus vizinhos, que lhe estranhavam os "hábitos reclusos e calados",
    e também
    seus amigos próximos, popularizaram a alcunha. Para escrever o livro é inspirado por medalhões de César, Augusto,
    Nero e
    Massinissa: imperadores romanos que mataram suas esposas adúlteras.
    Nos capítulos adiante Bento começa suas reminiscências: conta as experiências que teve quando sua mãe, a viúva D.
    Glória, lhe
    enviou para o seminário, fruto de promessa que ela fez caso acabasse concebendo um novo filho depois de seu
    primeiro, que morreu
    no parto; a ideia foi ressuscitada pelo agregado José Dias, que conta a Tio Cosme e à D. Glória o namoro de Bentinho
    com Capitolina,
    a vizinha pobre por quem Bentinho era apaixonado. No seminário, Bentinho conhece seu melhor amigo, Ezequiel de Sousa
    Escobar, filho
    de um advogado de Curitiba. Bento larga o seminário e estuda Direito em São Paulo, enquanto Escobar torna-se
    comerciante bem-sucedido
    e casa-se com Sancha, amiga de Capitu. Em 1865, Capitu e Bentinho casam; Sancha e Ezequiel têm uma filha que dão o
    nome de Capitolina,
    enquanto o protagonista e sua esposa concebem um filho que chamam de Ezequiel. O Escobar companheiro de Bento, que
    era exímio nadador,
    paradoxalmente morre afogado em 1871, e no enterro tanto Sancha quanto Capitu olham o defunto fixamente, "Momento
    houve em que os
    olhos de Capitu fitaram o defunto, quais os da viúva, [...], como a vaga do mar lá fora, como se quisesse tragar
    também o nadador da
    manhã", segundo ele.
    Logo o narrador começa a desconfiar que seu melhor amigo e Capitu o traíam às escondidas. Dom Casmurro também passa
    a duvidar de
    sua própria paternidade. Diz ele nas últimas linhas: [...] quis o destino que acabassem juntando-se e enganando-me…
    O livro
    termina com o convite irônico "Vamos à História dos Subúrbios",[10] livro que ele, no início do romance, teria
    pensado escrever
    antes de ocorrer-lhe a ideia de Dom Casmurro. A ação do romance passa-se entre 1857 e 1875, aproximadamente, e a
    narrativa, embora
    de tempo psicológico, permite a percepção de algumas unidades: a infância de Bento em Matacavalos; a casa de Dona
    Glória e a família
    do Pádua, com os parentes e agregados; o conhecimento de Capitu; o seminário; a vida conjugal; a densificação do
    ciúme; os surtos
    psicóticos de ciúme, agressividade; a ruptura.
  </p>
  <h4>Características</h4>
  <h6>Gênero</h6>
  <p>A partir de Memórias Póstumas de Brás Cubas (1881), Machado de Assis escreveu livros com temas e estilos diferentes
    de seus
    romances iniciais, como Ressurreição e A Mão e a Luva. Esses novos romances — que incluem, além de Memórias
    Póstumas, Quincas
    Borba (1891) e Dom Casmurro — são chamados de realistas por possuírem atitude crítica, objetividade e
    contemporaneidade. Alguns
    críticos preferem chamar este gênero de "realismo psicológico", por apresentar o interior, o pensamento, a ausência
    da ação
    aliada à densidade psicológica e filosófica. No entanto, também há em Dom Casmurro resíduos românticos, como a
    metáfora
    erótica em relação à Capitu, descrita com "olhos de cigana oblíqua e dissimulada". Ian Watt escreveu que o realismo
    referia-se
    às experiências empíricas dos homens, mas a recriação do passado através da memória de Bentinho, suas "manchas" de
    recordação,
    aproxima o livro do romance impressionista.
    Para John Gledson, Dom Casmurro "não é um romance realista no sentido de que nos apresenta abertamente os fatos, sob
    forma
    facilmente assimilável. Apresenta-se com eles, mas temos de ler contra a narrativa para descobri-los e conectá-los
    por nós mesmos.
    Na medida em que assim procedermos, descobriremos mais não só acerca dos personagens e dos acontecimentos descritos
    na história,
    mas também sobre o protagonista, Bento, o próprio narrador." Assim, podemos concluir que Dom Casmurro é um romance
    realista voltado
    para a análise (ou exposição) psicológica e que critica ironicamente a sociedade, no caso da elite carioca, a partir
    do comportamento
    de determinados personagens. Os críticos também notam certos elementos do modernismo em Dom Casmurro. Mesmo alguns,
    como Roberto
    Schwarz, arriscam considerar que este é o "primeiro romance modernista brasileiro". Isso deve-se fundamentalmente a
    seus
    capítulos curtos, à estrutura fragmentária não-linear, ao gosto pelo elíptico e alusivo, à postura metalinguística
    de quem escreve
    e se vê escrevendo, às intromissões na narrativa e à possibilidade de várias leituras ou interpretações: elementos
    "anti-literários"
    que só seriam popularizados com o modernismo décadas mais tarde.
    Outros ainda o veem como um romance policial, onde o leitor teria que investigar os pormenores das ações
    desconfiando das visões
    do narrador para chegar a uma conclusão sobre a veracidade do adultério, já que "desde o início há incongruências,
    passos
    obscuros, ênfases desconcertantes, que formam um enigma." Entre essas pistas estariam: a metáfora dos "olhos de
    ressaca" e
    dos "olhos de cigana oblíqua e dissimulada", o paralelo com o drama shakespeariano de Otelo e Desdêmona, a
    aproximação com a ópera
    do tenor Marcolini (o duo, o trio e o quatuor), as "semelhanças esquisitas", as relações com Escobar no seminário, a
    lucidez de
    Capitu e o obscurantismo de Bentinho, a imaginação delirante e perversa do ex-seminarista, o preceito bíblico do
    Eclesiastes no
    final do livro.
  </p>
  <h6>Temas</h6>
  <p>
    O tema central de Dom Casmurro é o ciúme e a tragédia conjugal de Bentinho. A começar pela citação dos imperadores
    César,
    Augusto, Nero e Massinissa, que mataram suas esposas acusadas de adultério, até a citação shakespeariana do mouro
    Otelo que
    matou sua mulher pelo mesmo motivo. Seu primeiro traço de ciúmes surge no cap. LXII, quando pergunta a José Dias,
    agregado da
    casa de sua mãe, quando este vai visitá-lo no seminário, "Capitu como vai?", ao que o outro responde: "Tem andado
    alegre, como
    sempre; é uma tontinha. Aquilo enquanto não pegar um peralta da vizinhança que se case com ela…" Para Bentinho a
    resposta
    foi um baque, já que escreve: "A minha memória ouve ainda agora as pancadas do coração naquele instante". De acordo
    com
    Roberto Schwarz, em Dom Casmurro "a instância mais dramática está no ciúme, que havia sido um entre os vários
    destemperos
    imaginativos do menino, e agora, associado à autoridade do proprietário e marido, se torna uma força de devastação."
    Contudo, aqui há uma inovação no tema do ciúme presente em outras literaturas: em Dom Casmurro ele é apresentado do
    ponto
    de vista de um marido que se suspeita traído, sem dar margem à versão das outras personagens.
  </p>
  <p>
    Outro tema bastante explícito do livro refere-se à sua ambientação: Rio de Janeiro do Segundo Império, na casa de um
    homem da
    elite. Críticos escrevem que até a época de sua publicação foi o livro que "fez a exploração psicológica mais
    intensa do caráter
    da sociedade do Rio de Janeiro". Bento é proprietário, cursou faculdade e tornou-se advogado, e representa uma
    classe diferente
    da de Capitu que, embora seja inteligente, veio de família mais pobre. O narrador permeia o livro de citações
    francesas e
    inglesas, hábito comum entre os aristocratas do século XIX. O contraste entre as duas personagens deu margem à
    interpretações
    de que Bentinho destruísse a figura de sua mulher por ele ser da elite e ela pobre (ver Interpretações). Em Dom
    Casmurro, o homem
    é o resultado de sua própria dualidade e incoerente em si mesmo, enquanto a mulher é dissimulada e encantadora.[3]
    Assim, é um
    livro que representa a política, ideologia e religião do Segundo Reinado.
  </p>
  <p>
    Segundo Eduardo de Assis Duarte, "o universo da elite branca e senhorial é o cenário por onde o narrador-personagem
    destila seu rancor e desconfiança quanto ao suposto adultério." Schwarz escreve que o romance apresenta as relações
    sociais e o comportamento da elite brasileira da época: de um lado, progressista e liberal, de outro, patriarcal e
    autoritária. Outro ponto estudado é que Dom Casmurro é quase incomunicável com Capitu — daí o fato de somente os
    gestos e os olhares (e não palavras) da moça lhe indicarem o possível adultério. Bento é um homem calado e metido
    consigo mesmo. Um de seus amigos um dia lhe enviou uma carta escrevendo: "Vou para Petrópolis, Dom Casmurro; a casa
    é a
    mesma da Renânia; vê se deixas essa caverna do Engenho Novo, e vai lá passar uns quinze dias comigo." Este
    isolamento,
    que se torna um motivo para ele "atar as duas pontas da vida", é também um dos temas do romance. O crítico Barreto
    Filho,
    por exemplo, notava ser "o espírito trágico que enformaria a obra inteira de Machado, guiando os destinos para a
    loucura, o
    absurdo e, no melhor dos casos, a velhice solitária."
  </p>
  <p>
    Um dos problemas centrais de toda obra machadiana, e também presente neste livro, é a questão "Em que medida eu só
    existo
    por meio dos outros?", uma vez que Bento Santiago se torna Dom Casmurro influenciado pelos acontecimentos dos fatos
    e pelas
    ações das pessoas que lhe são próximas. Eugênio Gomes observou que o tema da semelhança física do filho resultante
    da
    "impregnação" da mãe pelos traços de um homem amado, sem que este gerasse aquele (como acontece entre Capitu, seu
    filho
    Ezequiel e o provável pai Escobar), era um tema em foco na época de Dom Casmurro. Antonio Candido também escreveu
    que
    uma das principais temáticas de Dom Casmurro é a tomada do fato imaginado como real, um elemento também presente nos
    contos
    machadianos. Assim, o narrador, através de si mesmo, contaria os fatos através de uma determinada loucura que o
    faria
    tomar por realidade suas fantasias, expressas em exageros e enganos.
  </p>
  <h6>Estilo</h6>
  <p>
    Com Dom Casmurro, Machado continua com o estilo que vinha desenvolvendo desde Memórias Póstumas de Brás Cubas, numa
    linguagem
    altamente culta, impregnada de vastas referências, mas informal, em tom de conversa com o leitor, praticamente
    proto-modernista,
    permeada por intertextualidades, metalinguagens e ironias. Ele é considerado o último romance de sua "trilogia
    realista".
    Contudo, aqui ele também utiliza traços que retomam ao Romantismo (ou "convencionalismo", como prefere a crítica
    mais
    moderna). Um exemplo é o relacionamento de Bentinho com Capitu, o ciúme, o possível adultério. Além disso, tanto em
    sua
    fase romântica, com Ressurreição, onde ele descreve o "gracioso busto" da personagem Lívia, até sua fase realista,
    onde nota-se
    uma fixação pelo olhar dúbio de "cigana oblíqua e dissimulada" de Capitu, há sempre um traço romântico. Capitu é
    capaz de
    conduzir a ação, apesar do predomínio da trama romanesca não ter se esvaziado.
  </p>
  <p>
    Contudo, à imagem do romance anterior, em Dom Casmurro há o mesmo rompimento com os realistas que seguiam Flaubert,
    cujos
    narradores desapareciam atrás da objetividade narrativa, e também dos naturalistas que, à exemplo de Zola, narravam
    todos os
    detalhes do enredo: ele opta por abster-se de ambos os métodos para cultivar o fragmentário e criar um narrador que
    interfere
    na narrativa com o objetivo de dialogar com o leitor, comentando seu próprio romance com filosofias,
    intertextualidade, e
    metalinguagens. Um exemplo desta última ferramenta dá-se no Capítulo CXXXIII, de um parágrafo só, em que o narrador
    escreve: Já me vais entendendo; lê agora outro capítulo. Bento, advogado, também abusa da retórica para dar sua
    versão dos
    fatos. Sua narrativa, de tempo psicológico, acompanha os vaivéns da sua memória, de maneira menos aleatória que em
    Memórias Póstumas, mas igualmente fragmentária. No entanto, algumas unidades são perceptíveis: a infância em
    Matacavalos;
    a casa de Dona Glória e a família do Pádua, os parentes e agregados; o conhecimento de Capitu; o seminário; a vida
    conjugal; a densificação e os surtos de ciúme; a separação etc.
  </p>
  <p>
    De fato, o livro possui um estilo muito próximo ao do impressionismo associativo, onde existe uma ruptura com a
    narrativa
    linear, de modo que as ações não seguem um fio lógico ou cronológico, mas que são relatadas conforme surgem na
    memória e na
    vontade de Bento Santiago. José Guilherme Merquior notou que o estilo do livro "mantém-se na linha dos dois romances
    anteriores, com capítulos curtos, marcados pelos apelos ao leitor em tom mais ou menos humorístico e pelas
    digressões entre
    graves e gaiatas". As digressões são "intromissões" de elementos que aparentemente se desviam do tema central do
    livro
    e que Machado utiliza como interpolação de episódios, recordações, ou reflexões, muitas vezes citando outros autores
    ou
    obras ou comentando os capítulos, as frases, a organização do todo do próprio livro.
  </p>
  <h6>Influências Literárias</h6>
  <p>
    De todos seus romances, Dom Casmurro é provavelmente a obra que mais possui influência teológica. Há referências a
    São
    Tiago e São Pedro, principalmente pelo fato de o narrador Bentinho ter estudado em seminário. Além disso, no
    Capítulo XVII
    Machado faz alusão a um oráculo pagão do mito de Aquiles e ao pensamento israelita. Também utiliza, no final da
    obra,
    como uma epígrafe, o preceito bíblico de Jesus, filho de Sirach: "Não tenhas ciúmes de tua mulher para que ela não
    se meta
    a enganar-te com a malícia que aprender de ti."
  </p>
  <p>
    A influência teológica não se limita aos fatos, mas também vai no nome das personagens: EZEQUIEL - nome bíblico;
    BENTO
    SANTIAGO - Bento (=santo), Bentinho (=santinho), Santo + Iago (=fusão entre o bem e o mal, de santo com Iago,
    personagem
    maléfico de Otelo, de Shakespeare); CAPITU sugere inúmeras derivações: de caput, capitis que, em latim, significa
    cabeça,
    numa alusão à inteligência ou à esperteza (Foneticamente aproxima-se de capeta, imagem da vivacidade, ou da maldade
    e traição
    com que a impregna o narrador enciumado.); CAPITOLINA lembra ainda o verbo capitular (= renunciar), a atitude
    conformada da
    esposa injuriada pelo marido, e que capitula e renuncia a qualquer reação.
  </p>
  <p>
    Para evocar suas memórias, Bento cita Fausto, de Johann Wolfgang von Goethe (1749-1832), transcrevendo: ai vindes de
    novo
    inquietas sombras… Fausto é a personagem principal da peça que vende a alma ao demônio Mefistófeles para que este
    lhe dê
    a imortalidade, a eterna juventude e riquezas materiais. As "inquietas sombras" são, no caso, as memórias das
    pessoas e dos
    incidentes do passado, adormecidos, mas ainda perturbadores. Para a crítica norte-americana Helen Caldwell, essa
    citação é
    a que põe a memória de Bento em andamento: "seguida de perto pela alegoria da 'ópera', com seus colóquios no céu
    entre Deus
    e Satanás, dá a impressão de que Santiago talvez se identifique com o Fausto e sinta que vendeu a alma ao diabo." Os
    críticos
    notam que os clássicos antigos e modernos e as citações bíblicas não são, nunca em Machado, mera erudição; ao
    contrário,
    iluminariam as narrativas e inscrevê-las-iam com propriedade nos grandes arquétipos da literatura universal.
  </p>
  <p>
    Pois assim também acontece com o já citado Otelo de William Shakespeare. Otelo é o arquétipo do ciúme. Bento cria
    intertextualidade
    com a peça três vezes além do cap. LXII, no Capítulo LXXII e no Capítulo CXXXV: o primeiro comenta a relação de
    Desdêmona e seu
    marido mouro, enquanto que no segundo vai assistir a peça e diz que, embora "não vira nem lera nunca Otelo", estimou
    a coincidência
    entre seu próprio relacionamento com Capitu ao chegar ao teatro. Helen Caldwell sustentou fortemente a tese de que
    Dom
    Casmurro sofria influência de Otelo não somente no tema do ciúme mas também nas personagens: para a autora, Bento é
    o "Iago de
    si mesmo" e José Dias (que amava os superlativos) um típico personagem shakespeariano que gasta suas energias
    aconselhando (como o
    Polónio de Hamlet, que dá conselhos ao filho e exagera os fatos quando fala com o rei).
  </p>
  <p>
    Outras fontes referem-se a semelhança física do filho (no caso, Ezequiel) resultante da "impregnação" da mãe pelos
    traços de um
    homem amado, sem que este gerasse aquele, foco usado antes por Zola em seu Madeleine Férat (1868) e também no
    precedente As
    Afinidades Eletivas (1809) de Goethe, onde o filho de Eduard e Charlotte tem os olhos de Ottilie, por quem Eduard
    está apaixonado,
    e as feições do capitão, amado por Charlotte; e à filosofia pessimista de Bento, onde os críticos notam influência
    direta de
    Schopenhauer, para quem "o prazer da existência não repousam no viver, só se alcançam no contemplar o vivido" (daí o
    objetivo de
    Bento retratar seu passado), e de Pascal, uma vez que o cristianismo de Bentinho é análogo à casuística jesuíta
    atacada
    por ele e pelos jansenistas.
  </p>
  <h4>Influência e diálogos</h4>
  <p>
    Dom Casmurro, assim como Memórias Póstumas de Brás Cubas, possui estilo próprio e elementos "anti-literários" que
    só seriam popularizados com o modernismo décadas mais tarde: capítulos curtos, estrutura fragmentária não-linear,
    tendência ao elíptico e alusivo, postura metalinguística de quem escreve e se vê escrevendo, intromissões na
    narrativa e possibilidade de várias leituras e interpretações.
  </p>
  <p>
    Oswald de Andrade, nome de destaque da importante Semana de Arte Moderna de 1922, cujo estilo literário, assim
    como o de Mário de Andrade, se insere na tradição experimental, metalinguística e citadina mais ou menos
    dialogável com a obra de Machado de Assis, tinha Dom Casmurro como um de seus livros preferidos e encarava o
    escritor como um mestre do romance brasileiro. A influência mais direta do livro, no entanto, é estrangeira;
    John Barth escreveu A Ópera Flutuante (1956) que, na comparação de David Morrell, possui traços semelhantes ao
    enredo de Dom Casmurro, como o de que os personagens principais dos dois livros são advogados, chegam a pensar em
    suicídio e a comparar a vida a uma ópera, e vivem transtornados num triângulo amoroso. Na verdade, todas as
    primeiras obras de Barth sofreram forte influência deste livro de Machado de Assis, principalmente sua técnica de
    escrever o romance e o enredo de Dom Casmurro. Dom Casmurro também dialoga com Grande Sertão: Veredas (1956),
    em que Guimarães Rosa retoma a "viagem de memória" presente no livro de Machado.
  </p>
  <p>
    O desafio de Bentinho em atrair e conquistar Capitu para lograr seu objetivo interessado nas prendas da namorada
    — atitude identificada como "modelo senhorial e possessivo que prescinde de maiores sutilezas" — influenciou
    indiretamente Graciliano Ramos ao escrever um de seus mais famosos romances modernistas do século XX, São Bernardo
    (1934), ao retratar a ação direta de Paulo Honório na captura de Madalena. Dom Casmurro também influenciou, só que
    dessa vez explicitamente, o conto "Capitu Sou Eu", de Dalton Trevisan, publicado num livro de contos homônimo em
    2003, em que uma professora e um aluno rebelde tem um caso doentio e discutem sobre o caráter da personagem.
  </p>
  <p>
    A crítica moderna também atribui a Dom Casmurro ideias e conceitos que seriam posteriormente desenvolvidos por
    Sigmund Freud e seus projetos de psicanálise. O livro de Machado é publicado no mesmo ano que sua Interpretação
    dos Sonhos, e Dom Casmurro já escrevia frases como "Penso que lhe senti o sabor da felicidade no leite que me deu
    a mamar", alusão àquilo que Freud veio chamar de fase oral na psicanálise, em relação à boca-seio, no que alguns
    chamam de "premonição freudiana". O menino Bentinho era introspectivo e seus devaneios substituíam parte da
    realidade: "Os sonhos do acordado são como os outros sonhos, tecem-se pelos desenhos das nossas inclinações e das
    nossas recordações", escreve o Dom Casmurro já velho, numa antecipação do conceito freudiano que concebe a unidade
    da vida psicológica no sonho e na vigília.
  </p>
  <p>
    As diversas adaptações posteriores de Dom Casmurro, em inúmeras mídias e formas, também comprova o diálogo e a
    influência que o romance continua realizando nas mais diferentes áreas, seja no cinema, no teatro, na música
    popular e erudita, na televisão, nos quadrinhos, na própria literatura etc.
  </p>
  <h4>Crítica</h4>
  <h6>Introdução</h6>
  <p>
    Brevemente, pode-se dizer que a crítica de Dom Casmurro é relativamente recente. Recebeu aval dos contemporâneos de
    Machado e as críticas posteriores à sua morte trataram de analisar o personagem Bento e sua situação psicológica.
    Dom
    Casmurro também foi aproveitada por estudos da sexualidade e da psique humana, e do existencialismo assim que
    comumente
    nos tempos recentes atribuiu-se à obra machadiana uma abertura de interpretações.
  </p>
  <p>
    No entanto, o primeiro tratado que revigorou o papel do romance, escrito por Helen Caldwell na década de 1960, não
    desfrutou de impactos no Brasil. Só recentemente, através de Silviano Santiago, em 1969, e principalmente
    Roberto Schwarz em 1991, o livro de Caldwell foi descoberto e abriu novas propostas para a obra machadiana.
    Esta também foi a década que Machado de Assis teve maior relevância crítica na França e o romance recebeu
    comentários importantes através de tradutores franceses; o livro escrito por Dom Casmurro interessou
    principalmente as revistas literárias de psicologia e de psiquiatria, que também recomendavam a leitura de
    L'Aliéniste, "O Alienista", a seus leitores.
  </p>
  <p>
    A crítica moderna, muito influenciada pelo histórico de interpretações do romance, que examinaremos a seguir,
    identifica nos dias de hoje três leituras sucessivas de Dom Casmurro, a saber:
  </p>
  <ol>
    <li>Romanesca, é a história da formação e decomposição de um amor, do idílio da adolescência, passando pelo
      casamento,
      até a morte da companheira e do filho duvidoso.
    </li>
    <li>Próxima do romance psicanalítico e policial, é o libelo acusatório do marido-advogado à cata de prenúncios e
      evidências do adultério, tido por ele como indubitável.
    </li>
    <li>Deve ser realizada à contracorrente, pela inversão do rumo da desconfiança, transformando em réu o próprio
      narrador, em acusado o acusador.
    </li>
  </ol>
  <p>
    O histórico das interpretações que se vai ler na próxima seção, destacando a crítica da década de 1930 e 40 até a
    década de 1980, mostra a reviravolta que se tem feito nas diversas interpretações de Dom Casmurro, sustentada não
    somente por críticos brasileiros, mas também, e consideravelmente, internacionais. A maioria das
    interpretações do romance são influenciadas pela sociologia, feminismo e psicanálise, e a maioria também se
    refere ao tema do ciúme do narrador, Dom Casmurro; algumas argumentando que não existiu adultério e outras que o
    autor deixou a questão em aberto para o leitor.
  </p>
  <h6>Interpretações</h6>
  <p>
    Entre os temas interpretados ao longo dos anos pelos críticos e ensaístas estão o possível adultério de Capitu,
    uma análise sócio-psicológica das personagens e o caráter do narrador-personagem. Os críticos da década de 1930 e
    40 escreviam que Bento Santiago sofria de distimia e relacionaram sua personalidade calada e solitária com o
    próprio autor, que deveria sofrer epilepsia. Seu amigo Escobar deveria sofrer de transtorno
    obsessivo-compulsivo e de tiques motores, com possível controle sobre eles. Essas considerações desempenharam
    certo psicologismo em relação à Dom Casmurro e Machado de Assis. A crítica moderna encara essa interpretação como
    fruto do psicologismo daquela época, que exagerava seus sofrimentos e que não dava importância à sua subida de
    carreira (como jornalista e trabalhador público). Psiquiatras como José Leme Lopes notaram as inibições de
    desenvolvimento de Bentinho e seu "atraso no desenvolvimento afetivo e neurose". O Bentinho que Dom Casmurro
    evoca teria "sexualidade tardia" e "predomínio da fantasia sobre a realidade, com angústia."
  </p>
  <p>
    Para a interpretação psiquiátrica esse seria um dos motivos de seu ciúme doentio. A crítica psicanalista
    considera que Bento "nasceu destituído de poder ter seus próprios desejos". O personagem teria nascido para
    "preencher o lugar de um irmão natimorto", ao que a psicanalista Arminda Aberastury escreve que "sempre chamava
    a atenção para as dificuldades que terão em seus desenvolvimento psicológico os filhos que vêm predestinados,
    vêm em lugar de outro." Dom Casmurro foi um menino que serviu a todos os desejos de sua mãe: entrou em seminário,
    foi padre, e assim alguns o veem como um homem inseguro e mimado. Bentinho é encarado como um típico homem
    brasileiro do século XIX da alta sociedade carioca, sem perspectivas históricas (daí o desejo de escrever História
    dos Surbúrbios mas depois optar por primeiro relatar as memórias de sua juventude), pessimista e esquivo. Outros,
    como Millôr Fernandes, também acreditam que Bentinho tinha tendência à homossexualidade e que apresentava certa
    afeição amorosa e carinhosa por Escobar.
  </p>
  <p>
    Ao longo dos anos, Dom Casmurro era visto sob duas óticas principais: uma, a mais antiga, a de confiar nas palavras
    escritas
    por Bento Santiago, sem maiores questionamentos a respeito (José Veríssimo, Lúcia Miguel Pereira, Afrânio Coutinho,
    Érico
    Veríssimo e principalmente os contemporâneos de Machado fazem parte desse grupo); e outra, mais recente, a de que
    Machado
    de Assis deixa ao leitor a tarefa de tomar suas próprias conclusões sobre os personagens e o enredo, sendo essa uma
    das
    características mais freqüentes de sua literatura. Os argumentadores dessa posição muitas vezes abstêm-se das
    questões
    do romance e encaram Dom Casmurro como uma obra aberta.
  </p>
  <p>
    A crítica interpretativa dirigida negativamente ao narrador e à salvação de Capitu, argumentando que ela não o
    traiu, só se deu recentemente, a partir do movimento feminista dos anos 60 e 70, sobretudo pela ensaísta
    norte-americana Helen Caldwell. Em seu The Brazilian Othello of Machado de Assis (1960), argui que a personagem
    Capitu não traiu Bentinho, mudando até então a visão que se tinha do romance, e que ela é vítima de um cínico
    Dom Casmurro que na verdade induz o leitor em suas palavras que não condizem com a verdade. A principal prova
    que Caldwell apresenta é a intertextualidade nítida e frequente que o autor faz do Otelo de Shakespeare, cujo
    protagonista mata a esposa pensando erroneamente que ela o traiu. A autora escreve sua tese sob a perspectiva
    principal de que o narrador machadiano é autônomo o suficiente para dar sua própria e única versão dos fatos.
    Para a crítica, Bentinho não o faz de propósito, mas por loucura, já que ele é, segundo as palavras dela, o "Iago
    de si mesmo". Caldwell também revalidou o papel de Capitu, que deveria ser mais bonita e ter melhores sonhos
    que seu esposo. Outros críticos estrangeiros, como John Gledson, a partir da década de 1980 levantaram a
    hipótese de interesses sociais relacionados à organização e à crise da ordem patriarcal durante o Segundo Reinado.
    Para o universo carrança, bolorento e recalcado de Dona Glória, com seus viúvos, agregados e escravos, a energia e
    a liberdade de opinião da mocinha moderna e pobre, atrevida e irreverente, lúcida e atuante, tornaria-se
    intoleráveis. Uma das provas do argumento de Gledson encontra-se no Capítulo 3, que ele considera ser a "base
    do romance", na motivação de José Dias ao falar da família de Capitu e lembrar a D. Glória a promessa que ela fez
    de botar Bentinho no Seminário, ou seja, tratando a "gente do Pádua" como inferior e sua filha como uma menina
    dissimulada e pobre que pode corromper o garoto.
  </p>
  <p>
    Assim, os ciúmes de Bentinho, menino rico, de família decadente, do bacharel típico do Segundo Reinado,
    condensariam uma problemática social ampla, por trás daquele "novo Otelo que difama e destrói a amada." Essa
    interpretação sociológica ainda se conserva nos dias de hoje, como lemos nas palavras do ensaísta português Helder
    Macedo que afirmou, em relação ao tema do ciúme:
  </p>
  <blockquote>
    "Na destruição de Capitu, na neutralização do desafio ao modo de ser alternativo que ela representa, reside o
    propósito fundamental da restauração procurada por Bento Santiago através da escrita do seu memorial. [...] Ela
    era uma estranha, uma intrusa, uma ameaça ao status quo, um indesejável traço de união com uma classe social mais
    baixa, representando assim também, implicitamente, a emergência potencial de uma nova ordem política que ameaçasse
    o poder estabelecido. [...] Classe e sexo são assim fundidos na mesma ameaça representada pela moralidade
    supostamente dúbia de Capitu".
  </blockquote>
  <p>
    Sob tal perspectiva, o narrador, ferramenta estereotipada usada pelo autor para criticar determinada classe social
    de sua época, é capaz de utilizar os preconceitos do brasileiro para induzi-lo em sua argumentação contra Capitu.
    Entre estes preconceitos temos a semelhança física e os trejeitos que um filho herda do pai verdadeiro,
    pré-concepção que seria comum à cultura brasileira, e que Bento utiliza ao falar como Ezequiel era a cara de
    Escobar.
  </p>
  <p>
    Visando o enjoo que o debate crítico da temática do ciúme desencadeou a partir de então, autores como, por
    exemplo, José Aderaldo Castello, afirmavam que Dom Casmurro não é o romance do ciúme, mas da dúvida: "é por
    excelência o romance que exprime o conflito atroz e insolúvel entre a verdade subjetiva e as insinuações de alto
    poder de infiltração, geradas por coincidências, aparências e equívocos, imediata ou tardiamente alimentados por
    intuições." Não se desconsidera, portanto, as já citadas hipótese de que Bento Santiago esteja realmente
    falando a verdade e Capitu o traiu e a de que Machado quis deixar a verdade nas mãos do leitor. A escritora Lygia
    Fagundes Telles, que estudou o romance para escrever o roteiro do filme Capitu (1968), como leitora que chegou a
    condenar Capitu e depois a condenar Bentinho, disse numa entrevista recente, concluindo: "Eu já não sei mais.
    Minha última versão é essa, não sei. Acho que enfim suspendi o juízo. No começo, ela era uma santa; na segunda, um
    monstro. Agora, na velhice, eu não sei. Acho Dom Casmurro mais importante que Madame Bovary. Nele há a dúvida,
    enquanto a Bovary tem escrito na testa que é adúltera."
  </p>
  <h4>Recepção</h4>
  <p>
    À época de sua publicação, Dom Casmurro foi elogiado pelos amigos próximos do autor. Medeiros e Albuquerque, por
    exemplo, dizia ser este "o nosso Otelo". Seu amigo Graça Aranha comentou sobre Capitu: "casada, teve por
    amante o maior amigo do marido." Sua primeira recepção parece ter acreditado nas palavras do narrador e
    relacionou o livro com O Primo Basílio (1878) de Eça de Queiroz e com Madame Bovary de Flaubert, isto é, romances
    de adultério.
  </p>
  <p>
    José Veríssimo, por sua vez, escreveu que "Dom Casmurro trata de um homem inteligente, sem dúvida, mas simples, que
    desde rapazinho se deixa iludir pela moça que ainda menina amara, que o enfeitiçara com a sua faceirice calculada,
    com
    a sua profunda ciência congênita de dissimulação, a quem ele se dera com todo ardor compatível com o seu
    temperamento
    pacato." Veríssimo também fez uma analogia entre Dom Casmurro e o narrador de Memórias Póstumas de Brás Cubas: "Dom
    Casmurro é o irmão gêmeo, posto que com grandes diferenças de feições, se não de índole, de Brás Cubas."
  </p>
  <p>
    Silvio Romero já há tempo não aceitava o rompimento de Machado com a linearidade narrativa e com a natureza do
    enredo tradicional e depreciava sua prosa. Como se sabe, no entanto, a Livraria Garnier publicava os volumes de
    Machado tanto no Brasil como em Paris e, com este novo livro, a crítica internacional já passava a colocar em
    dúvida se Eça de Queiroz ainda seria o melhor romancista da língua portuguesa. Artur de Azevedo elogiou a obra
    duas vezes e numa delas escreveu: "Dom Casmurro é um desses livros impossíveis de resumir, porque é na vida
    interior de Bento Santiago que reside todo o seu encanto, toda a sua força", e concluiu que "O que é tudo,
    porém, neste livro sombrio e triste, onde há páginas escritas com lágrimas e sangue, é a fina psicologia das duas
    figuras capitais e o nobre e soberbo estilo da narrativa."
  </p>
  <p>
    Machado de Assis comunicou-se em cartas com amigos e recebia outras, satisfeito com os comentários que eram
    publicados a respeito de seu livro. Dom Casmurro continuou recebendo inúmeras outras críticas e interpretações
    com o tempo e nos dias atuais é visto como uma das maiores contribuições ao romance impressionista e é tratado por
    alguns como sendo um dos maiores expoentes do realismo brasileiro.
  </p>

  <p> * Esse é um conteúdo adaptado em relação ao conteúdo original</p>

  <span>Fonte: <a href="https://pt.wikipedia.org/wiki/Dom_Casmurro">Wikipédia - Dom Casmurro</a></span>
</section>
