.container-principal {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.introducao {
  color: black;
  padding: 2rem;
  text-align: center;
}

.introducao img {
  width: 12rem;
}

.introducao h2 {
  font-size: 2rem;
}
