<section class="introducao">
  <h3>Informações sobre o Audiobook</h3>
  <p>
    Os arquivos de áudio foram fornecidos pela <span>LibriVox:</span> <a href="https://librivox.org/dom-casmurro-by-machado-de-assis/">LibriVox - Dom Casmurro</a>
  </p>
  <p>
    O texto para a transcrição foi fornecido pelo <span>Projeto Gutenberg:</span> <a href="https://www.gutenberg.org/ebooks/55752">Projeto Gutenberg - Dom Casmurro</a>
  </p>
  <p>
    Esse projeto foi desenvolvido por <span>Renan Fochetto:</span><a href="https://github.com/renanfochetto/dom-casmurro-audiobook">GitHub - Dom Casmurro Audiobook</a>
  </p>
</section>
