<section class="introducao" role="contentinfo">
  <h3 aria-label="Seção sobre o Audiobook Dom Casmurro">O Audiobook</h3>
  <p>
    Os arquivos de áudio foram fornecidos pela <span>LibriVox:</span>
    <a
      class="link-audiobook"
      href="https://librivox.org/dom-casmurro-by-machado-de-assis/"
      aria-label="Audiobook de Dom Casmurro, disponível no LibriVox"
      target="_blank"
      rel="noopener noreferrer"
    >
      LibriVox - Dom Casmurro
    </a>
  </p>

  <p>
    O texto para a transcrição foi fornecido pelo <span>Projeto Gutenberg:</span>
    <a
      class="link-audiobook"
      href="https://www.gutenberg.org/ebooks/55752"
      aria-label="Texto de Dom Casmurro disponível no Projeto Gutenberg"
      target="_blank"
      rel="noopener noreferrer"
    >
      Projeto Gutenberg - Dom Casmurro
    </a>
  </p>

  <p>
    Esse projeto foi desenvolvido por <span>Renan Fochetto:</span>
    <a
      class="link-audiobook"
      href="https://github.com/renanfochetto/dom-casmurro-audiobook"
      aria-label="Repositório do projeto Dom Casmurro Audiobook no GitHub"
      target="_blank" rel="noopener noreferrer"
    >
      GitHub - Dom Casmurro Audiobook
    </a>
  </p>
</section>
