.introducao {
  font-family: "Lora", serif;
  line-height: 1.4rem;
  margin: 1.5rem auto;
  flex-direction: column;
  color: #2c3e50;
  padding-bottom: 5.5rem;
  width: 60%;
  text-align: justify;
}

.introducao h3 {
  text-align: center;
  font-family: "Faculty Glyphic", sans-serif;
  margin: 0 1rem 2.5rem 0;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao span {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.introducao a {
  padding-left: 0.5rem;
  font-weight: 600;
  color: #8e3b46;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1023px) {
  .introducao {
    margin: 1.2rem auto;
    padding-top: 2rem;
  }

  .introducao h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .introducao p {
    font-size: 0.85rem;
  }

  .introducao span {
    font-size: 0.85rem;
  }

  .introducao span a {
    font-size: 0.85rem;
  }

}

@media (max-width: 479px) {
  .introducao {
    width: 80%;
  }

  .introducao h3 {
    font-size: 1.4rem;
  }

  .introducao p {
    font-size: 0.8rem;
  }

  .introducao span {
    font-size: 0.8rem;
  }

  .introducao span a {
    font-size: 0.8rem;
  }

}


