.audio-player {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.prev-btn:disabled,
.next-btn:disabled {
  opacity: 0.3;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.audio-progress-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 1.2rem 0 1.5rem 0;
}

.audio-progress {
  width: 80%;
  height: 8px;
  background: #ddd;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
}

.audio-progress-bar {
  height: 100%;
  background: #3498db;
  border-radius: 4px;
}

.current-time, .total-time {
  font-size: 14px;
  color: #333;
}

.audio-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.audio-controls button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.audio-controls button img {
  width: 30px;
  height: 30px;
}

.audio-controls button:hover img {
  opacity: 0.8;
}

.volume-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.volume-controls button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.volume-bar {
  display: flex;
  color: black;
  bottom: 5rem;
  justify-content: center;
  transform: rotate(-90deg);
  position: absolute;
  height: 10px;
  padding: 0.5rem;
  border-radius: 4px;
  width: 6rem;
  z-index: 10;
}

.volume-controls input[type="range"] {
  width: 100%;
}

.volume-controls img {
  width: 1.8rem;
  height: 1.8rem;
}

.speed-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.speed-controls select {
  font-size: 0.8rem;
  background-color: #ecebeb;
  border: 1px solid #ecebeb;
  color: black;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 2px 0;
  position: absolute;
  z-index: 10;
}

.speed-controls select:hover {
  border: black 1px solid;
}
