.audio-player {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto;
}

.prev-btn:disabled,
.next-btn:disabled {
  opacity: 0.3;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.audio-progress-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  color: #2c3e50;
  align-items: center;
  margin: 1rem 0 ;
}

.audio-progress {
  width: 20rem;
  height: 8px;
  background: #ddd;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 12px;
}

.audio-progress-bar {
  height: 100%;
  width: 100%;
  background: #4b5d46;
  border-radius: 4px;
}

.current-time, .total-time {
  font-size: 14px;
  color: #333;
}

.audio-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 0 0.8rem 0;
}

.audio-controls button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.audio-controls button img {
  width: 30px;
  height: 30px;
}

.audio-controls button:hover img {
  opacity: 0.8;
}

.volume-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.volume-controls button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.volume-bar {
  display: flex;
  color: black;
  left: 2.3rem;
  justify-content: center;
  position: absolute;
  height: 10px;
  padding: 0.5rem;
  border-radius: 4px;
  width: 6rem;
  z-index: 10;
}

.volume-controls input[type="range"] {
  width: 100%;
}

.volume-controls img {
  width: 1.8rem;
  height: 1.8rem;
}

.speed-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.speed-controls select {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background-color: #f1e3d3;
  border: 1px solid #2c3e50;
  color: black;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 2px 0;
  position: absolute;
  z-index: 10;
}
