.audio-player {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto;
}

.prev-btn:disabled,
.next-btn:disabled {
  opacity: 0.3;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.audio-progress-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  color: #2c3e50;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.audio-progress {
  position: relative;
  width: 80vh;
  height: 8px;
  background: #bdc3c7;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 12px;
}

.audio-progress-bar {
  height: 100%;
  background: #2c3e50;
  border-radius: 4px;
}

.current-time, .total-time {
  font-weight: 500;
  font-size: 14px;
  width: 4rem;
  color: #2c3e50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.audio-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 0 0.8rem 0;
}

.audio-controls button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.audio-controls button img {
  width: 30px;
  height: 30px;
}

.audio-controls button:hover img {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}

.volume-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.volume-controls button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.volume-bar {
  display: flex;
  color: black;
  left: 2.3rem;
  justify-content: center;
  position: absolute;
  height: 10px;
  padding: 0.5rem;
  border-radius: 4px;
  width: 6rem;
  z-index: 10;
}

.volume-controls input[type="range"] {
  width: 100%;
}

.volume-controls img {
  width: 1.8rem;
  height: 1.8rem;
}

.speed-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.speed-controls select {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #2c3e50;
  border: none;
  color: white;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 2px 2px;
  position: absolute;
  z-index: 10;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.speed-controls select:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
