<div class="audio-player">
  <!-- Barra de progresso -->
  <div class="audio-progress-container">
    <!-- Tempo atual -->
    <span class="current-time">{{ formatTime(currentTime) }}</span>
    <div class="audio-progress" (click)="seek($event)">
      <div class="audio-progress-bar" [style.width]="progressWidth"></div>
    </div>
    <!-- Tempo total -->
    <span class="total-time">{{ formatTime(duration) }}</span>
  </div>
  <!-- Controles principais -->
  <div class="audio-controls">
    <!-- Botão Anterior -->
    <button class="prev-btn" (click)="previousChapter()" [disabled]="isPreviousDisabled">
      <img src="assets/icons/previous.svg" alt="Anterior" />
    </button>
    <!-- Botão Play/Pause -->
    <button class="play-pause-btn" (click)="togglePlayPause()">
      <img *ngIf="isPlaying" src="assets/icons/pause.svg" alt="Pausar" />
      <img *ngIf="!isPlaying" src="assets/icons/play.svg" alt="Reproduzir" />
    </button>
    <!-- Botão Próximo -->
    <button class="next-btn" (click)="nextChapter()" [disabled]="isNextDisabled">
      <img src="assets/icons/next.svg" alt="Próximo" />
    </button>
    <!-- Controles de Velocidade -->
    <div class="speed-controls">
      <select (change)="changeSpeed($event)" [(ngModel)]="selectedSpeed">
        <option *ngFor="let speed of speeds" [value]="speed">{{ speed }}x</option>
      </select>
    </div>
    <!-- Controles de Volume -->
    <div class="volume-controls">
      <button (click)="toggleVolumeControl()">
        <img *ngIf="volume > 0" src="assets/icons/volume.svg" alt="Volume">
        <img *ngIf="volume === 0" src="assets/icons/mute.svg" alt="Mute">
      </button>
      <div class="volume-bar" *ngIf="isVolumeControlVisible">
        <input type="range" [(ngModel)]="volume" min="0" max="1" step="0.01" (input)="adjustVolume()">
      </div>
    </div>


  </div>
  <app-transcricao [capituloIndex]="audioIndex"></app-transcricao>
</div>
