
.menu-hamburger {
  position: fixed;
  font-family: "Roboto", sans-serif;
  top: 12px;
  right: -250px;
  background-color: rgba(0, 0, 0, 0);
  transition: right 0.5s ease;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.menu-hamburger.aberto {
  right: 2rem;
}

.menu-hamburger:not(.aberto) {
  right: -250px; /* Mover para fora da tela */
  transition: right 1s ease; /* Suavizar o fechamento */
}

.menu-hamburger ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  gap: 1rem;
  padding: 0 1rem 0 2rem;
  cursor: pointer;
}

.menu-hamburger ul li a {
  color: #8e3b46;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  transition: text-shadow 0.3s ease;
}

.menu-hamburger ul li a:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
  color: #2c3e50;
}

.menu-hamburger ul li:active {
  transform: scale(1.1);
}

.menu-hamburger ul li {
  transition: transform 0.3s ease;
}

@media (max-width: 1023px) {
  .menu-hamburger.aberto {
    top: 0rem;
    right: 1rem;
  }

  .menu-hamburger ul {
    gap: 0.5rem;
    padding: 0 1rem;
  }

  .menu-hamburger ul li a {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .menu-hamburger {
    top: 0.6rem;
    right: -500px;
  }

  .menu-hamburger ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .menu-hamburger.aberto {
    top: 0.6rem;
  }

}

@media (max-width: 479px) {

  .menu-hamburger {
    right: -800px;
  }

  .menu-hamburger ul li a {
    font-size: 0.7rem;
  }
}
