
.menu-hamburger {
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #003366;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.menu-hamburger.aberto {
  right: 0;
}

.menu-hamburger ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  gap: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  cursor: pointer;
}

.menu-hamburger ul li {

}

.menu-hamburger ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-hamburger ul li a:hover {
  color: #ffcc00;
}
