/* Botão para abrir e fechar o menu */
.menu-toggle {
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #f1e3d3;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border: 1px solid #8e3b46;
  width: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #bdc3c7;
}

.menu-toggle img {
  width: 0.9rem;
  height: 0.9rem;
}

.menu-lateral {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 150px;
  left: -500px;
  background-color: #8e3b46;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 0.8rem;
  height: 50%;
  color: white;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 100;
}

.menu-lateral::-webkit-scrollbar {
  width: 10px;
}

.menu-lateral::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.menu-lateral::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.menu-lateral.menu-visible {
  left: 0;
}

.capitulos h4 {
  text-align: center;
  font-family: "Lora", serif;
  color: white;
  font-size: 1.1em;
  border-bottom: 1px solid white;
  margin: 0;
  padding: 1rem 0;
}

.capitulos ul {
  font-size: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.capitulos li {
  width: 91%;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 0.6rem;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.capitulos-info {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.capitulos li:last-child {
  border-bottom: none;
}

.capitulos li:hover {
  background-color: #2c3e50;
}

.titulo {
  font-weight: 500;
}

.leitor span {
  color: #f1e3d3;
}

.capitulos-tempo {
  font-weight: 500;
}

